* {
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url('/img/background.webp') center/cover no-repeat;
    position: relative;
}



#calculator {
    padding: clamp(1rem, 2vw, 2rem);
    width: clamp(18rem, 30vw, 28rem);
    max-width: 28rem;
    max-height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: clamp(0.5rem, 1vw, 1.5rem);
    background-color: #a8a8a8;
    border: 0.3rem solid #727265;
}



#display {
    width: 100%;
    padding: clamp(1.06rem, 3vw, 3rem);
    font-size: clamp(1.05rem, 2vw, 2rem);
    box-sizing: border-box;
    text-align: right;
    border: 0.05rem solid #306230;
    background-color: #9cbc0fcb;
    color: #2b2b26;
    box-shadow: inset 0 0 0 0.125rem #706b66;
}



#trademark {
    text-align: center;
    font-size: 0.7rem;
    color: #E4000F;
    margin-top: 1rem;
    text-shadow: 0.04rem 0.03rem 0 white
}




#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(0.25rem, 1vw, 0.5rem);
}

#keys button {
    width: 100%;
    height: clamp(3rem, 6vw, 5rem);
    font-size: clamp(1rem, 2vw, 2rem);
    cursor: pointer;
    border: 0.125rem solid #2b2b26;
    background-color: #b0b0b0;
    color: #2b2b26;
    box-shadow: inset -0.125rem -0.125rem 0 #e0dbcd,
                inset 0.125rem 0.125rem 0 #706b66;
    line-height: 1;
    transition: background-color 0.1s, box-shadow 0.1s;
}

#keys button:hover {
    background-color: #b0b0b016;
}

#keys button:active {
    box-shadow: inset 0.125rem 0.125rem 0 #e0dbcd,
                inset -0.125rem -0.125rem 0 #706b66;
}

#clear {
    grid-column: 1 / -1;
}
